body {
  padding: 0;
  margin: 0;
}

html, body, .full-height, .leaflet-container {
  height: 100%;
}

.full-height, .leaflet-container {
  position: relative;
}

.agora-header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  margin: 0;
  background: rgba(255, 255, 255, 0.5);
  border-bottom: solid 5px #5F5F5F;
  padding: 10px 5px 6px 4px;
  margin-bottom: 2px;
}

.agora-title {
  height: auto;
  line-height: 1.1;
  margin: 0;
  padding: 0;
  padding-bottom: 4px;
  text-align: left;
  font-weight: 500;
  font-size: 2em;
  color: #5F5F5F;
}

track-player {
  margin-top: -2px;
}

.instify {
  padding-top: 70px;
  padding-bottom: 70px;
  overflow: hidden;
}

/**
 * Animations
 */

 /**/
 /* Angular Directive Animations */
 /**/

 .repeat-animation.ng-move,
 .repeat-animation.ng-enter,
 .repeat-animation.ng-leave {
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
}

.repeat-animation.ng-leave.ng-leave-active,
.repeat-animation.ng-move,
.repeat-animation.ng-enter {
  opacity:0;
}

.repeat-animation.ng-leave,
.repeat-animation.ng-move.ng-move-active,
.repeat-animation.ng-enter.ng-enter-active {
  opacity:1;
}

/**/
/* Resource Loading Bar and Spinner */
/**/

#loading-bar,
#loading-bar-spinner {
  pointer-events: none;
  -webkit-pointer-events: none;
  -webkit-transition: 350ms linear all;
  -moz-transition: 350ms linear all;
  -o-transition: 350ms linear all;
  transition: 350ms linear all;
}

#loading-bar.ng-enter,
#loading-bar.ng-leave.ng-leave-active,
#loading-bar-spinner.ng-enter,
#loading-bar-spinner.ng-leave.ng-leave-active {
  opacity: 0;
}

#loading-bar.ng-enter.ng-enter-active,
#loading-bar.ng-leave,
#loading-bar-spinner.ng-enter.ng-enter-active,
#loading-bar-spinner.ng-leave {
  opacity: 1;
}

#loading-bar .bar {
  -webkit-transition: width 350ms;
  -moz-transition: width 350ms;
  -o-transition: width 350ms;
  transition: width 350ms;

  background: #5F5F5F;
  position: fixed;
  z-index: 10002;
  top: 0;
  right: 0;
  width: 100%;
  height: 5px;
  border-bottom-right-radius: 1px;
  border-top-right-radius: 1px;
}

/* Fancy blur effect */
#loading-bar .peg {
}

#loading-bar-spinner {
  position: fixed;
  z-index: 10002;
  top: 10px;
  right: 5%;
}

#loading-bar-spinner .spinner-icon {
  width: 1.8em;
  height: 1.8em;

  border:  solid 2px transparent;
  border-top-color:  #5F5F5F;
  border-left-color: #5F5F5F;
  border-radius: 10px;

  -webkit-animation: loading-bar-spinner 400ms linear infinite;
  -moz-animation:    loading-bar-spinner 400ms linear infinite;
  -ms-animation:     loading-bar-spinner 400ms linear infinite;
  -o-animation:      loading-bar-spinner 400ms linear infinite;
  animation:         loading-bar-spinner 400ms linear infinite;
}

@-webkit-keyframes loading-bar-spinner {
  0%   { -webkit-transform: rotate(0deg);   transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
@-moz-keyframes loading-bar-spinner {
  0%   { -moz-transform: rotate(0deg);   transform: rotate(0deg); }
  100% { -moz-transform: rotate(360deg); transform: rotate(360deg); }
}
@-o-keyframes loading-bar-spinner {
  0%   { -o-transform: rotate(0deg);   transform: rotate(0deg); }
  100% { -o-transform: rotate(360deg); transform: rotate(360deg); }
}
@-ms-keyframes loading-bar-spinner {
  0%   { -ms-transform: rotate(0deg);   transform: rotate(0deg); }
  100% { -ms-transform: rotate(360deg); transform: rotate(360deg); }
}
@keyframes loading-bar-spinner {
  0%   { transform: rotate(0deg);   transform: rotate(0deg); }
  100% { transform: rotate(360deg); transform: rotate(360deg); }
}

.animate {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }

  50% {
    -webkit-transform: scale3d(1.01, 1.01, 1.01);
    transform: scale3d(1.01, 1.01, 1.01);
    opacity: 0.5;
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }

  50% {
    -webkit-transform: scale3d(1.01, 1.01, 1.01);
    transform: scale3d(1.01, 1.01, 1.01);
    opacity: 0.5;
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}