<section class="player" ng-show="track">

  <!-- Buttons -->
  <div class="btn-group">

    <!-- Backward -->
    <button type="button" class="btn btn-default" ng-click="back()">
      <span class="glyphicon glyphicon-backward"></span>
    </button>

    <!-- Play -->
    <button type="button" class="btn btn-default" ng-click="pausePlay()">
      <span id="trackinfo" ng-class="{glyphicon: true, 'glyphicon-play': !playing, 'glyphicon-pause': playing}">
        <!-- Track Information -->
        <span pulsator ng-show="track">{{track.name}} by {{track.artists[0].name}}</span>
      </span>
    </button>

    <!-- Forward -->
    <button type="button" class="btn btn-default" ng-click="next()">
      <span class="glyphicon glyphicon-forward"></span>
    </button>

  </div>

</section>
